.mask{
    width:100%;
    height:100vh;
    position: relative;
}

.img{
    position: absolute;
width: 1512px;
height: 700.25px;
left: 0px;
top: 109px;

background: #FAFAF8;
}


.img2{
  
    position: absolute;
    width: 500.1px;
    height: 420.03px;
    left: 700.5px;
    top: 90px;
    }

.hero .content{
    position:absolute;
    transform: translate(-50%,-50%);
    top: 35%;
    left:20%;
    text-align: center;
}

.hero .content h2{
position: relative;
width: 420px;
height: 20px;
left: 0px;


font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 150px;
letter-spacing: -0.02em;
}


.hero .content p{   
    position: absolute;
    width: 530.33px;
    height: 168px;
    left: 0px;
    top: 130.57px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 84px;
    letter-spacing: -0.02em;
    
    color: #1E1E1E;
    
}

.content .btn{
    width: 106px;
height: 29px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 19.5904px;
line-height: 29px;
letter-spacing: -0.02em;
color: #F5EFEA;
flex: none;
order: 0;
flex-grow: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 17.1413px 69.5904px;
gap: 8.84px;
position: relative;
width: 258px;
height: 60.35px;
left: 30px;
top: 250.73px;

/* Black */

background: #232323;
border-radius: 26.1206px;
}



@media screen and (max-width:640px){
    .hero .content h1{
        font-size: 3rem;
    }
    
    
.hero.content p{
    font-size: 1.4rem;
}
}